/* /* all large monitors (min-width: 1141) */
@media only screen and (min-width: 1141px) {
	.banner-text {
		width: 1290px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	header {
		height: 100vh;
		min-width: 1141px;
		background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
			url('../images/nathan-dumlao-71u2fOofI-U-unsplash.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}
}

/*   from big tablet to 1200px: (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
}

/*  small tablet to big tablet:from 769 to 1023px */
@media only screen and (max-width: 1023px) {
}

/*  small phones to small tablets: from 481 to 768px */
@media only screen and (max-width: 768px) {
}

/** small phones from 0 to 500 px */
@media only screen and (max-width: 500px) {
	* {
		margin: auto;
	}

	html {
		font-size: 10px;
		width: 500px;
	}

	/* ---------------------
REUSABLE COMPONENTS 
--------------------
 */

	.row {
		width: 500px;
		background-size: auto;
	}

	section {
		padding: 10px 0px;
	}

	.row img {
		height: 100px;
		width: 100px;
		display: inline;
		position: absolute;
		left: 50%;
		top: 15%;
	}

	/*-------- HEADINGS------------*/

	.banner-text h1 {
		font-size: 24px;
		word-spacing: 1px;
		margin: 40px 50%;
	}

	.banner-text h2,
	.order-form h2,
	.section-info h2 {
		font-size: 16px;
	}

	.banner-text h2 {
		margin: 0 200px;
		width: 300px;
	}

	.main-nav {
		width: 300px;
		margin: 10% 20%;
	}

	h1 {
		font-size: 200%;
	}

	h2 {
		font-size: 150%;
	}

	h2:after {
		width: 100px;
	}

	/*----- HEADER ----*/

	.banner-text {
		width: 500px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	header {
		width: 500px;
		height: 750px;
		background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
			url('../images/nathan-dumlao-71u2fOofI-U-unsplash.jpg');
		background-size: cover;
		background-position: center center;
		margin: 0;
		padding: 0;
	}

	/* ------ SECtION INFO ------ */
	.section-info {
		width: 500px;
	}
	.section-info img {
		width: 500px;
		margin: auto;
	}

	.section-info p {
		padding: 10px 10px;
		font-size: 18px;
	}

	/*------ FORM HEADER -----*/
	.formheader {
		max-width: 500px;
		/* width: 500px; */
	}

	/*----FORM STYLE -----*/
	.order-form {
		max-width: 500px;
		width: 500px;
		/* width: 500px; */
	}

	.order-form h2 {
		color: #fde8cd;
	}

	/* ------- BUTTONS -----------*/

	.parent1 button,
	.parent2 button,
	.parent3 button {
		width: 150px;
		height: 150px;
		background-color: #fde8cd;
		border-radius: 8px;
		color: #433520;
	}

	.delivery button {
		width: 200px;
		height: 150px;
		background-color: #fde8cd;
		border-radius: 8px;
		color: #433520;
	}

	/* -------- GRID ------------*/
	.parent1,
	.parent2,
	.parent3 {
		display: grid;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
		margin: 0 auto;
		/* width: 490px; */
		max-width: 500px;
		width: 330px;
		align-items: center;
		margin-bottom: 50px;
	}

	.parent1 {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}

	.parent2,
	.parent3 {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	.grid-item {
		width: 150px;
		height: 150px;
	}
	.div1 {
		grid-area: 1 / 1 / 2 / 2;
	}
	.div2 {
		grid-area: 1 / 2 / 2 / 3;
	}
	.div3 {
		grid-area: 2 / 1 / 3 / 2;
	}
	.div4 {
		grid-area: 2 / 2 / 3 / 3;
	}
	.div5 {
		grid-area: 3 / 1 / 4 / 2;
	}
	.div6 {
		grid-area: 3 / 2 / 4 / 3;
	}
	.div7 {
		grid-area: 4 / 1 / 5 / 2;
	}
	.div8 {
		grid-area: 4 / 2 / 5 / 3;
	}
	.div9 {
		grid-area: 5 / 1 / 6 / 2;
	}
	.div10 {
		grid-area: 5 / 2 / 6 / 3;
	}
	.div11 {
		grid-area: 6 / 1 / 7 / 2;
	}
	.div12 {
		grid-area: 6 / 2 / 7 / 3;
	}

	.div13 {
		grid-area: 1 / 1 / 2 / 2;
	}
	.div14 {
		grid-area: 1 / 2 / 2 / 3;
	}
	.div15 {
		grid-area: 2 / 1 / 3 / 2;
	}
	.div16 {
		grid-area: 2 / 2 / 3 / 3;
	}
	.div17 {
		grid-area: 3 / 1 / 4 / 2;
	}
	.div18 {
		grid-area: 3 / 2 / 4 / 3;
	}

	.div19 {
		grid-area: 1 / 1 / 2 / 2;
	}
	.div20 {
		grid-area: 1 / 2 / 2 / 3;
	}
	.div21 {
		grid-area: 2 / 1 / 3 / 2;
	}
	.div22 {
		grid-area: 2 / 2 / 3 / 3;
	}
	.div23 {
		grid-area: 3 / 1 / 4 / 2;
	}
	.div24 {
		grid-area: 3 / 2 / 4 / 3;
	}
	/*------------------------------------------------------------*/

	/* -------- DELIVERY ---------*/

	.comment {
		max-width: 500px;
		width: 50%;
	}

	.delivery {
		max-width: 500px;
		width: 200px;
	}

	.delivery button {
		width: 200px;
		margin: auto;
		border-radius: 8px;
		display: inline;
		background-color: #fde8cd;
	}

	.comment textarea {
		width: 200px;
		height: 100px;
		border-radius: 8px;
		background-color: #fde8cd;
	}

	/* ---------------------
footer
--------------------
 */

	.at-logo {
		height: 100px;
	}

	a {
		color: #000000;
		text-decoration: none;
		padding-bottom: 1px;
		border-bottom: 1px solid transparent;
	}

	button[type='submit'] {
		width: 25%;
		border: 2px solid #025955;
		outline: none;
		padding: 7px;
		font-size: 75%;
		border-radius: 8px;
		color: #fde8cd;
		text-align: center;
		margin: auto;
		margin-top: 10px;
		cursor: pointer;
		transition: background-color, 0.2s;
		background-color: #025955;
		display: grid;
	}
	footer {
		width: 500px;
	}
}
