/*   from big tablet to 1200px: (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
}

/*  small tablet to big tablet:from 768 to 1023px */
@media only screen and (max-width: 1023px) {
}

/*  small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {
}

/** small phones from 0 to 480 px */
@media only screen and (max-width: 480px) {
	* {
		margin: auto;
		overflow: visible;
	}

	html {
		font-size: 10px;
	}

	/* ---------------------
REUSABLE COMPONENTS 
--------------------
 */

	.row {
		max-width: 480px;
		margin: 0 auto;
		background-size: 100%;
	}

	section {
		padding: 10px 0px;
	}

	.row img {
		height: 100px;
		width: 100px;
		display: inline;
		position: fixed;
		left: 50%;
		top: 50px;
	}

	/*-------- HEADINGS------------*/

	.banner-text h1 {
		font-size: 24px;
		word-spacing: 1px;
	}

	.banner-text h2,
	.order-form h2,
	.section-info h2 {
		font-size: 16px;
	}

	/* ------ SECtION INFO ------ */
	.section-info {
		max-width: 480px;
		width: 100%;
	}
	.section-info img {
		max-width: 480px;
		width: 100%;
	}
}
