/* ----------------------- BASIC SET UP ------------------------ */
* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/* ---------------------
REUSABLE COMPONENTS 
--------------------
 */

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 40px 0px;
}

/*-------- HEADINGS------------*/

h1,
h2 {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	margin-bottom: 20px;
	margin-top: 0;
	color: rgba(255, 255, 255, 0.9);
	font-size: 350%;
	word-spacing: 4px;
	text-align: center;
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
}

h3 {
	font-size: 110%;
	font-weight: 300;
	margin-bottom: 15px;
	color: #00917c;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #00917c;
	content: ' ';
	width: 300px;
	margin: 0 auto;
	margin-top: 30px;
}

/*----------- PARAGRAPHS ---------------*/

.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
}

p {
	text-align: justify;
	font-size: 1.5rem;
	line-height: 150%;
}

/* ---------------------
HEADER 
--------------------
 */

.banner-text {
	width: 1140px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
		url('../images/friends.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

header h2 {
	color: #fde8cd;
	font-size: 200%;
	margin-top: 40px;
}
.logo {
	height: 250px;
	border-radius: 50%;
	width: auto;
	float: left;
	margin-top: 20px;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 55px;
	font-size: 175%;
}

.main-nav li {
	display: inline-block;
	margin-left: 60px;
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #fde8cd;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
	padding: 8px 0px;
}

.main-nav li a:hover,
.main-nav li a:active {
	text-size-adjust: 110%;
	color: #00917c;
	transition: color 0.3s;
}

/* ---------------------
SECTION - INFO
--------------------
 */
.section-info {
	height: auto;
	background-color: #fde8cd;
}

.section-info img {
	width: 30%;
	margin: 0 35%;
	height: auto;
}

/*------ FORM HEADER -----*/
.formheader {
	margin: auto;
	width: 25%;
	text-align: center;
	margin-bottom: 50px;
}

.formheader li {
	display: inline-block;
	padding: 10px;
}

.formheader input {
	background-color: #fde8cd;
}

li p {
	font-size: 20px;
	color: #fde8cd;
}

/*----FORM STYLE -----*/
.order-form {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
		url('../images/doug-greenman-G8uNOmgSR3U-unsplash1920x1440.jpg');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.order-form h2 {
	color: #fde8cd;
}

/* ------- BUTTONS -----------*/

.parent1 button,
.parent2 button,
.parent3 button {
	width: 150px;
	height: 150px;
	background-color: #fde8cd;
	border-radius: 8px;
	color: #433520;
}

.delivery button {
	width: 200px;
	height: 150px;
	background-color: #fde8cd;
	border-radius: 8px;
	color: #433520;
}

.parent1 input,
.parent2 input,
.parent3 input,
.delivery input {
	opacity: 0.15;
	width: 100px;
	height: 100px;
	display: block;
	margin: auto;
	overflow: visible;
}

.parent1 input:checked,
.parent2 input:checked,
.parent3 input:checked,
.delivery input:checked {
	opacity: 0.9;
}

button p {
	font-size: 18px;
	text-align: center;
	color: #433520;
	background-color: #fde8cd;
}

.box {
	background-size: 150px 150px;
	width: 200px;
	height: 300px;
}

.americano {
	background-image: url('../images/150/americano150x150.jpg');
}

.espresso {
	background-image: url('../images/150/americano150x150.jpg');
}
.pour-over {
	background-image: url('../images/150/americano150x150.jpg');
}
.french-press {
	background-image: url('../images/150/americano150x150.jpg');
}
.macchiato {
	background-image: url('../images/150/americano150x150.jpg');
}
.mocha {
	background-image: url('../images/150/americano150x150.jpg');
}
.cappuccino {
	background-image: url('../images/150/americano150x150.jpg');
}
.latte {
	background-image: url('../images/150/americano150x150.jpg');
}
.iced-coffee {
	background-image: url('../images/150/americano150x150.jpg');
}
.om-iced-latte {
	background-image: url('../images/150/americano150x150.jpg');
}
.irish {
	background-image: url('../images/150/americano150x150.jpg');
}
.peppermint {
	background-image: url('../images/150/americano150x150.jpg');
}
.caramel {
	background-image: url('../images/150/americano150x150.jpg');
}
.hazelnut {
	background-image: url('../images/150/americano150x150.jpg');
}
.vanilla {
	background-image: url('../images/150/vanilla150x150.jpg');
}
.french-vanilla {
	background-image: url('../images/150/americano150x150.jpg');
}
.sugar {
	background-image: url('../images/150/americano150x150.jpg');
}
.whip-cream {
	background-image: url('../images/150/whip-cream150x150.jpg');
}
.heavy-cream {
	background-image: url('../images/150/americano150x150.jpg');
}
.milk1 {
	background-image: url('../images/150/americano150x150.jpg');
}
.milk2 {
	background-image: url('../images/150/americano150x150.jpg');
}
.energy {
	background-image: url('../images/150/americano150x150.jpg');
}

.ridgedash {
	background-image: url('../images/flash2.jpg');
	background-clip: border-box;
	background-size: cover;
	overflow: hidden;
}

/* -------- GRID ------------*/
.parent1,
.parent2,
.parent3 {
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin: 0 auto;
	width: 490px;
	align-items: center;
	margin-bottom: 50px;
}

.parent1 {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.parent2,
.parent3 {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.grid-item {
	width: 150px;
	height: 150px;
}
.div1 {
	grid-area: 1 / 1 / 2 / 2;
}
.div2 {
	grid-area: 1 / 2 / 2 / 3;
}
.div3 {
	grid-area: 1 / 3 / 2 / 4;
}
.div4 {
	grid-area: 2 / 1 / 3 / 2;
}
.div5 {
	grid-area: 2 / 2 / 3 / 3;
}
.div6 {
	grid-area: 2 / 3 / 3 / 4;
}
.div7 {
	grid-area: 3 / 1 / 4 / 2;
}
.div8 {
	grid-area: 3 / 2 / 4 / 3;
}
.div9 {
	grid-area: 3 / 3 / 4 / 4;
}
.div10 {
	grid-area: 4 / 1 / 5 / 2;
}
.div11 {
	grid-area: 4 / 2 / 5 / 3;
}
.div12 {
	grid-area: 4 / 3 / 5 / 4;
}
.div13 {
	grid-area: 1 / 1 / 2 / 2;
}
.div14 {
	grid-area: 1 / 2 / 2 / 3;
}
.div15 {
	grid-area: 1 / 3 / 2 / 4;
}
.div16 {
	grid-area: 2 / 1 / 3 / 2;
}
.div17 {
	grid-area: 2 / 2 / 3 / 3;
}
.div18 {
	grid-area: 2 / 3 / 3 / 4;
}

.div19 {
	grid-area: 1 / 1 / 2 / 2;
}
.div20 {
	grid-area: 1 / 2 / 2 / 3;
}
.div21 {
	grid-area: 1 / 3 / 2 / 4;
}
.div22 {
	grid-area: 2 / 1 / 3 / 2;
}
.div23 {
	grid-area: 2 / 2 / 3 / 3;
}
.div24 {
	grid-area: 2 / 3 / 3 / 4;
}

/* -------- DELIVERY ---------*/

.comment {
	margin: auto;
	width: 25%;
	text-align: center;
	margin-bottom: 50px;
}

.delivery {
	margin: auto;
	width: 25%;
	height: 100px;
	text-align: center;
	margin-bottom: 50px;
}

.delivery button {
	width: 300px;
	margin: auto;
	border-radius: 8px;
	display: inline;
	background-color: #fde8cd;
}

.comment textarea {
	width: 300px;
	height: 200px;
	border-radius: 8px;
	background-color: #fde8cd;
}

.margin {
	margin-top: 100px;
}

/* -------------------------
status bar
--------------------------------*/

#status {
	width: 10%;
	text-align: center;
	padding: 10px;
	margin: auto;
	border-radius: 8px;
}
#status.success {
	background-color: rgb(211, 250, 153);
	animation: status 4s ease forwards;
	margin: 0 auto 0 5%;
}

#status-error {
	background-color: rgb(250, 129, 92);
	color: white;
	animation: status 4s ease forwards;
	margin: 0 auto 0 5%;
}

@keyframes status {
	0% {
		opacity: 1;
		pointer-events: all;
	}
	90% {
		opacity: 1;
		pointer-events: all;
	}
	100% {
		opacity: 0;
		pointer-events: none;
	}
}

/* ---------------------
footer
--------------------
 */

footer {
	background-color: #010506;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	height: auto;
}

.footer-nav li a:link,
.footer-nav li a:visited {
	text-decoration: none;
	border: 0;
	color: #000000;
	transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
	color: #ddd;
}

.footer-nav img {
	text-decoration: none;
	border-bottom: none;
	opacity: 1;
	transform: scale(0.5);
	border-radius: 8px;
}

.footer-nav img:hover {
	opacity: 1;
	transform: scale(0.52);
	transition: transform 0.8s;
}

footer p {
	color: #000000;
	font-size: 90%;
}

.at-logo {
	height: 170px;
}

a {
	color: #000000;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid transparent;
}

/* ---------------------
SECTION - FORM
--------------------
 */
/* 
.row h2:after {
	background-color: transparent;
	padding: 15px;
}
.order-form {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
		url('../images/doug-greenman-G8uNOmgSR3U-unsplash1920x1440.jpg');
	background-size: contain;
	background-position: top;
	background-repeat: repeat;
}

.order-form h2 {
	color: #fde8cd;
}

#flavor {
	margin-top: 50px;
}

#add-on {
	padding-top: 100px;
}
.container {
	display: grid;
	justify-items: center;
}

.form-group {
	width: 75%;
	margin-top: 20px;
	color: rgba(255, 255, 255, 0.753);
}

.form-group li {
	padding: 10px;
	width: 400px;
}

.form-group input,
.form-group textarea {
	width: 75%;
	padding: 5px;
	font-size: 125%;
	border: 1 px solid #444;
	background-color: rgba(200, 200, 200, 0.2);
	color: rgba(255, 255, 255, 0.753);
	margin-top: 5px;
}

.form-group input {
	border-radius: 8px;
}

.form-group textarea {
	border-radius: 8px;
	resize: vertical;
	margin: 0 auto 0 5%;
}
*/
button[type='submit'] {
	width: 25%;
	border: 2px solid #025955;
	outline: none;
	padding: 7px;
	font-size: 75%;
	border-radius: 8px;
	color: #fde8cd;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	cursor: pointer;
	transition: background-color, 0.2s;
	background-color: #025955;
	display: grid;
}
